.header{
	height: 64px;
	width: auto;
	background-color: #1a9db7;
	margin: 0px;
	position: fixed;
	right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    position: sticky;
    z-index:1;
    padding-top: 10px;
}
body{
	margin: 0px;
}
img{
	height: 40px;
}
.nevi1{
	display: inline;
	margin: 0px;
	padding-left: 77px;
}
#img-nevi{
	padding-left: 168px;
}
a{
	text-decoration: none;
	color: white !important;
	font-size: 17px;
}
html{
	 font-family: sans-serif;
}
.fa-rocket{
	background-color: #1a9db7;
	border-radius: 50%;
}
.fa-envelope{
	background-color: #1a9db7;
	border-radius: 50%;
}
.fa-bell{
	background-color: #1a9db7;
	border-radius: 50%;
}
.fa-database{
	background-color: #1a9db7;
	border-radius: 50%;
}
.fa-cutlery{
	background-color: #1a9db7;
	border-radius: 50%;
}
.fa-tachometer{
	background-color: #1a9db7;
	border-radius: 50%;
}
.col-md-4{
	display: inline;
	text-align: center;
    margin-bottom: 50px;
}
.fontp{
	font-size: 14px;
}
a:hover{
	text-decoration: none !important;
}
.dropdown-content{
	display: none;
	position: absolute;
	min-width: 160px;
	margin-left: 930px;
	top: 23px;
	z-index: 1;
	background-color: white;
}
.dropdown-content a{
	text-decoration: none;
	display: block;
	color: #1a9db7 !important;
	padding: 12px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown{	
	display: inline;
	    margin-top: 17px;
}