nav{
	height: 40px;
	background-color: #134775;
	width: auto;
	padding-top: 10px;
	padding-left: 10px;
	color: white;
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
}
.fa-envolope-o{
	color: white;
}
.fa-phone{
	color: white;
	float: right;
	margin-right: 25px;
}
header{
	height: 100px;
	width: auto;
	margin-top: 11px;
}
img, .logo{
	height: 70px;
    width: 300px;
    margin-top: 16px;
    margin-left: 16px
}
.afterpic{
	margin-top: -45px;
	margin-left: 400px;
}
a{
	color: black;
	text-decoration: none;
	padding: 10px;
	transition: 0.7s;
}
a:hover{
	background-color: green;
	color: white;
	border-radius: 5px;
}
.Category{
	height: 100px;
    width: 112px;
    margin-left: 449px;
    margin-top: 6px;
    display: none;
}
.set{
	margin-left: 30px;
	opacity: 0.7;
}
.afterpic:hover + .Category{
	display: inline-block;
}
ul{
	display: inline;
}