.nav{
	width: auto;
	height: 64px;
	background-color: orange;
	text-decoration: none;
	color: white;
	position: fixed;
	right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}
.nav1 a{
	color: white !important;
}
body{
	margin: 0px;
}
.nav1{
	display: inline;
	padding-left: 37px;
	float: left;
    padding-top: 20px;
}
.log{
	float: right;
	padding-right: 10px;
	padding-left: 6px;
}
.nav2{
	margin-top: -32px;
}
.footer{
	height: 40px;
	background-color: orange;
	width: auto;
	position: fixed;	
	left: 0px;
	bottom: 0px;
	right: 0px;
	text-align: center;
	padding-top: 9px;
	color: white;
}
.navigation{
	height: auto;
	width: 200px;
	background-color: orange;
	position: fixed;
	top: 64px;
	bottom: 0px;
	font-size: 16px;
	color: white !important;
}
.navigation a{
	text-decoration: none; 
	color: white !important;
}
.data{
	top: 69px;
	left: 210px;
	margin-top: 70px;
	margin-left: 210px;
}